footer {
  border-top: 1.2px solid #223137;
  .footer1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0.8em;
    border-bottom: 1px solid #223137;
    .footer1--social {
      width: 40%;
      height: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .footer1--social__logo {
        cursor: pointer;
        width: 80px;
      }

      ul {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
    }
    .meta-info {
      font-size: 0.9em;
      cursor: pointer;
    }
  }
  .footer--policies {
    background-color: #f6b637;
    width: 100%;
    padding: 1em;
    ul {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin: 0 auto;
      p {
        font-size: 0.8em;
        cursor: pointer;
      }
    }
  }
}
