.food-item{
    background-color:#f6b637;
    width: 40%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5em;
    margin: 1em;
    border-radius: 50%;
    h2{
        text-transform: uppercase;
        font-size: .8em; 
        color: black;
        line-height: 1;
        font-weight: 500;
        padding-top: 1em;

    }
    .food-item__image{
        width: 80px;
        img{
        width: 80px;
        object-fit: contain;
        &:nth-of-type(6){
            background-color: red;
        }
    }       
    }
}