.food-item{
    background-color:lightgrey;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: .5em;
    border-radius: 4px;
    h2{
        text-transform: uppercase;
        font-size: .8em; 
        color: black;
        line-height: 1;
        font-weight: 500;

    }
    .food-item__image{
        width: 60%;
        height: 60%;
        img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }       
    }
}