.register--box {
  width: 100%;
  padding-top: 100px;
  // height: 600px;
  // height: 80vh;
  max-width: 1200px;
  margin: 0 auto;
  @media (min-width: 769px) {
    height: 80vh;
  }
  .register--container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
    padding-bottom: 10vh;

    form {
      margin: 0 auto;
      z-index: 0;
      width: 80%;
      height: 40%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-evenly;
      align-items: center;
      position: relative;
      h1 {
        font-weight: bolder;
        letter-spacing: 0.8px;
        font-size: 1.5em;
        margin-bottom: 14px;
        line-height: 1.2em;
      }
      label {
        margin-bottom: 10px;
        width: 80%;
      }
      .input {
        width: 100%;
        height: 40px;
        font-size: 16px;
        padding-left: 1em;
        background-color: #223137;
        background: #223137;
        border-radius: 4px;
        margin-bottom: 6px;
        color: whitesmoke;
        &::placeholder {
          color: whitesmoke;
        }
      }
      .submit--box {
        width: 350px;
        height: 100px;
        position: relative;

        padding: 3em;
      }
      .button {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        text-decoration: none;
        font-size: 1em;
        display: inline-block;
        font-family: Montserrat;
        text-transform: uppercase;
        padding: 0.2em 1em;
        border: 2px solid black;
        border-radius: 4px;
        transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
        &::before {
          content: "";
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          right: 100%;
          bottom: 0;
          background: lightgray;
          transition: 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s cubic-bezier(0.1, 0, 0.1, 1);
          z-index: -1;
        }
        &::after {
          content: "";
          display: inline-block;
          background-image: url("https://cdn-icons-png.flaticon.com/128/109/109617.png");
          position: absolute;
          top: 0;
          left: calc(100% - 3em);
          right: 3em;
          bottom: 0;
          background-size: 1.5em;
          background-repeat: no-repeat;
          background-position: center;
          transition: right 0.3s cubic-bezier(0.1, 0, 0.1, 1);
        }
        &:hover {
          transition: all 0.4s ease-in-out;
          padding: 0.5em 3.5em 0.5em 0.5em;
        }
        &:hover::before {
          left: calc(100% - 3em);
          right: 0;
          transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
        }
        &:hover::after {
          right: 0;
          transition: right 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
        }
      }
      .error {
        color: #db1c22;
        text-align: justify;
      }
      .select {
        background-color: #223137;
        color: #efefef;
        width: 100%;
        height: 40px;
        font-size: 16px;
        padding-left: 1em;
        border-radius: 4px;
        background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='40' viewBox='0 0 24 24' width='30' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 0;
        border: 1px solid #dfdfdf;
      }
      .tou {
        width: 85%;
        display: flex;
        input {
          
          margin: 1em;
          @media (min-width: 769px) {
            margin: 1em em;
          }
        }
        span {
          width: 100%;
          text-align: justify;
          padding-top: 1em;
          a {
            color: blue;
            text-decoration: underline;
          }
        }
      }
    }
    .login--links {
      margin: 0 auto;
      width: 85%;
      padding: 0 4%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      a {
        margin: 0 auto;
        width: 90%;
        height: 57px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-weight: 600;
        background-color: #223137;
        color: #fff;
        &:first-child {
          margin-bottom: 10px;
        }
        img {
          display: flex;
          transform: translate(-30%);
          width: 30px;
        }
      }
    }
  }
}
